body{front-family: Arial; background-color: white; box-sizing: border-box;}
form{
  background-color: whitesmoke;
  margin: 0 auto;
  width: 300px;
}

h1{
    text-align: center;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



